.content {
    grid-area: c;
    background-color: yellow;
  }

  .item {
    color:red;
  }

  .item img {
    width: 50px;
  }

  .postBlock {
    padding: 10px;
  }

  .posts {
    margin-top: 10px;
  }