.header {
  grid-area: h;
  background-color: grey;
}

.header img {
  width: 50px;
}

.loginBlock {
  float: right;
  margin-right: 10px;
}

.loginBlock a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}